<section class="w-8/12 mx-auto">
    <form>
        <div class="mb-4">
            <h1 class="font-bold text-3xl text-main my-6">
                please enter your verification email 
            </h1>
            <label for="email" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Email</label>
            <input type="text" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="email"  />
        </div>
        <div class="text-end">
            <button class="bg-transparent hover:bg-green-400 text-green-600 font-semibold hover:text-white py-2 px-4 border border-green-400 hover:border-transparent rounded-lg">
                Verify
              </button>
        </div>
      
    </form>
</section>