<div style="width: 98% " class="mx-auto">
  <h1 class="text-3xl">Shop Popular Categories</h1>
        <owl-carousel-o [options]="customOptions">
            @for ( categor of categoriesList; track $index) {
                <ng-template carouselSlide [id]="categor.id">
                    <img style="height: 200px" [src]="categor.image"   [alt]="categor.title" [title]="categor.title">
                    <p class="text-bg-slate-900 font-bold">{{categor.name}}</p>
                  </ng-template>
            }
          </owl-carousel-o>

</div>