<div class="container  md:mx-auto pb-8 pt-4">
    <h1 class="md:text-3xl font-bold   text-xl p-3   text-main">
        Register Now:
    </h1>
    @if(errMsg){
        <div class="p-4 mb-4 mt-3 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400">
            {{errMsg}}
        </div>
    }
    <form  [formGroup]="registerForm" (ngSubmit)="sendData()">
        <div class="md:w-8/12 w-full md:mx-auto my-8">
            <div class="mb-6">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name:</label>
                <input type="text" id="name" formControlName="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
                @if (registerForm.get('name')?.errors && registerForm.get('name')?.touched) {
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400">
                        @if(registerForm.get('name')?.errors?.['required']){
                            <p>error in name</p>
                          }
                          @if(registerForm.get('name')?.errors?.['minlength']){
                            <p>min length is 3 char</p>
                          }
                          @if(registerForm.get('name')?.errors?.['maxlength']){
                            <p>max length is 10 char</p>
                          }
                    </div>
                }
            </div>
            <div class="mb-6">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email:</label>
                <input type="email" id="email" formControlName="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
                @if (registerForm.get('email')?.errors && registerForm.get('email')?.touched) {
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400">
                        @if(registerForm.get('email')?.errors?.['required']){
                            <p>email is required</p>
                          }
                    </div>
                }
            </div>
            <div class="mb-6">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password:</label>
                <input type="password" id="password" formControlName="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
                @if (registerForm.get('password')?.errors && registerForm.get('password')?.touched) {
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400">
                        @if(registerForm.get('password')?.errors?.['required']){
                            <p>password number is required</p>
                          }
                          @if(registerForm.get('password')?.errors?.['pattern']){
                            <p>enter a valid password number</p>
                          }
                    </div>
                }
            </div>
            <div class="mb-6">
                <label for="repassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">RePassword:</label>
                <input type="password" id="repassword" formControlName="rePassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
                @if (registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched) {
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400">
                        @if(registerForm.get('rePassword')?.errors?.['required']){
                            <p>rePassword number is required</p>
                          }
                          @if(registerForm.get('rePassword')?.errors?.['pattern']){
                            <p>enter a valid password number</p>
                          }
                    </div>
                }
            </div>
            <div class="mb-6">
                <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone:</label>
                <input type="tel" id="phone" formControlName="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
                @if (registerForm.get('phone')?.errors && registerForm.get('phone')?.touched) {
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400">
                        @if(registerForm.get('phone')?.errors?.['required']){
                            <p>phone number is required</p>
                          }
                          @if(registerForm.get('phone')?.errors?.['pattern']){
                            <p>enter a valid phone number</p>
                          }
                    </div>
                }
            </div>
            <div class="text-end">
                <button [disabled]="!registerForm.valid" type="submit" class="text-white bg-main btn  disabled:bg-green-400 cursor-pointer  focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Register
                    @if(isLoading){
                        <i class="fa-solid fa-spinner fa-spin"></i>
                    }
                </button>
              
            </div>
        </div>
    </form>
  
</div>
