<div class=" p-5 bg-gray-50 mt-6 ">
    <div class="container w-10/12 mx-auto">
        <h1 class="text-3xl pt-6">
            Get the FreshCart app
        </h1>
        <p class="py-5 text-gray-500">We will send you a link, open it on your phone to download the app </p>
        <div>
            <div class="flex items-center gap-3">
                <input type="email"   id="email" class="bg-white-50 w-10/12 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-green-500 focus:border-green-500 block p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="Email"  />
                <button class="w-2/12 bg-main hover:bg-green-400 text-white font-semibold hover:text-white py-2 px-4 border border-green-300 hover:border-transparent rounded-lg">
                    Share App Link
                </button>
            </div>
            <div class="border-y border-slate-300 py-5 my-5 flex justify-between items-center">
               <div class="flex gap-1 items-center">
                <p class="me-2">Payment Partners</p>
                <img style="width: 100px"  src="../../../../assets/footer-image/paypal.jpg" alt="">
               </div>
               <div class="flex gap-1 items-center">
                <span class="me-1">Get deliveries with FreshCart </span>
                <img style="width: 100px" src="../../../../assets/footer-image/a2.avif" alt="">
                <img style="width: 100px"  src="../../../../assets/footer-image/a1.avif" alt="">
               </div>
    
            </div>
    
        </div>
    </div>
  
 
</div>