<app-main-slider></app-main-slider>
<app-categories-slider></app-categories-slider>
<div class="container mx-auto home">
    <div class="my-5 w-3/4 search mx-auto">
        <input type="text" id="search"  [(ngModel)]="searchData"  placeholder="Search By Title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
    </div>
    <div class="grid sm:grid-cols-2 md:grid-cols-4 gap-2">
        @for(product of productList | filter: searchData; track $index){
            <div class=" rounded ">
                <div class="px-2 py-4  h-full product ">
                    <div [routerLink]="['/productDetails',product.id]">
                        <img [src]="product.imageCover"  class="w-full" alt="">
                        <div class="h-20">
                            <h3 class="text-main">
                                {{product.title.split(' ').slice(0,5).join(' ')}}
                            </h3>
                            <p class="my-3">
                                {{product.category.name}}
                            </p>
                        </div>
                       
                        <div class="flex justify-between items-center">
                            <p>
                                {{product.price | currency: 'EGP '}}
                            </p>
                            <p>
                               <i class="fas fa-star rating-color"></i> {{product.ratingsQuantity}}
                            </p>
                        </div>
                    </div>
                    <button (click)="AddProductCart(product.id)" class="btn bg-main my-2 text-white   cursor-pointer  focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm px-5 py-2.5 text-center w-full "> <i class="fab fa-plus"></i> Add </button>
                </div>
            </div>
        }
        <!-- @empty {
            <div class="absolute top-1/2 left-1/2">
                <span class="loader"></span>
            </div>
        } -->
    </div>
   
</div>
