
    <div class="flex flex-wrap justify-center  mx-auto" style="width: 98%">
        <div class="w-8/12">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img style="height: 400px;" src="../../../../assets/slider/slider-image-1.jpeg" class="w-full">
                </ng-template>  
                <ng-template carouselSlide>
                    <img style="height: 400px;" src="../../../../assets/slider/slider-image-2.jpeg" class="w-full">
                </ng-template>  
                <ng-template carouselSlide>
                    <img style="height: 400px;" src="../../../../assets/slider/slider-image-3.jpeg" class="w-full">
                </ng-template> 
              </owl-carousel-o>
        </div>
        <div class="w-4/12">
            <img style="height: 200px;" src="../../../../assets/slider/grocery-banner.png" class="w-full">
            <img style="height: 200px;" src="../../../../assets/slider/grocery-banner-2.jpeg" class="w-full">
        </div>
    </div>


